Source: libfwps
Section: unknown
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, python-dev
Standards-Version: 3.8.3
Homepage: http://code.google.com/p/libflibs/

Package: libfwps
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: libfwps-dbg
Description: Library to access the Windows Property Store format
 libfwps is a library to access the Windows Property Store format.

Package: libfwps-dbg
Architecture: any
Section: debug
Depends: libfwps (= ${Source-Version}), ${misc:Depends}
Description: Debugging symbols for libfwps
 Debugging symbols for libfwps.

Package: libfwps-dev
Section: libdevel
Architecture: any
Depends: libfwps (= ${Source-Version})
Description: Header files and libraries for developing applications for libfwps
 Header files and libraries for developing applications for libfwps.

Package: libfwps-python
Section: python
Architecture: any
Depends: libfwps (= ${Source-Version}), ${shlibs:Depends}, ${python:Depends}
Suggests: libfwps-python-dbg
Description: Python bindings for libfwps
 Python bindings for libfwps.

Package: libfwps-python-dbg
Section: debug
Architecture: any
Depends: libfwps-python (= ${Source-Version})
Description: Debugging symbols for libfwps-python
 Debugging symbols for libfwps-python.

